<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="css/CAD.css">
  <link rel="stylesheet" href="../../node_modules/xterm/dist/xterm.css" />
  <link rel="stylesheet" href="../../node_modules/xterm/dist/addons/fullscreen/fullscreen.css" />
  <head>
    <meta charset="UTF-8">
    <script src="../../lib/three.js"></script>
    <script src="../../lib/OrbitControls.js"></script>
    <script src="../../src/Global/WorkbenchMenu.js"></script>
    <script src="../../lib/ProfileRender.js"></script>
    <script src="../../lib/ProfileGeometry.js"></script>
    <script src="../../node_modules/xterm/dist/xterm.js"></script>
    <script src="../../node_modules/xterm/dist/addons/fullscreen/fullscreen.js"></script>
    <script src="../../node_modules/xterm/dist/addons/fit/fit.js"></script>
    <script src="../../node_modules/xterm/dist/addons/webLinks/webLinks.js"></script>
    <script src="../../src/CAD/terminal.js"></script>
    <script src="../../src/CAD/drawing_tools.js"></script>
    <script src="../../src/CAD/app.js"></script>
  </head>
  <body>
    <div id="Hidden" style="position: absolute; display: block; visibility: hidden;"></div>
		<div id="input_boxes"></div>
    <section id="Content" class="content container-fluid"></section>
  </body>
</html>
